*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.3rem;

    height: 100vh;
    width: 100vw;
    
    
    display: grid;
    grid-template-areas: 
    'header'
    'body'
    ; 

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
}


#header, #content{
    background-color: steelblue;
    border: 2px solid skyblue;
}

#header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#header>h2{
    justify-self: center;
    align-self: center;
    font-size: 40px;
}

#header>.btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    gap: 10px;
    align-self: center;
}

button{
    height: 60px;
    background-color: peru;
    border:none;
    border-radius: 0.5rem;
    border-left: 7px solid black;
    font-size: 20px;
    font-weight: bold;
}

h2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    
}
#content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}

.books-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.form{
    width: 200px;
    height: 200px;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.form-checkbox{
    font-size: 40px;
    
}

.form > input{
    padding: 20px;
    font-size: 19px;
}

.addbook:hover{
    cursor:pointer;
}

.addbook:focus{
    border-left: 7px solid green;
}